.input {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #eee;
  color: var(--text-color);
  padding: 20px;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
}
