.product-wrapper {
  max-width: 650px;
}

.product-header {
  position: relative;
  display: flex;
  flex-direction: row;
}

.btn-back {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: var(--color-white);
  border: none;
  border-radius: 50px;
  box-shadow: 5px 10px 20px 0px #d3d1d84d;
  cursor: pointer;
}

.btn-back img {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 10px;
  right: 10px;
}

.product__name {
  margin-left: 35px;
}

.product-cart__btn {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
}

.product-cart__btn img{
  margin-right: 10px;
}

.info__img {
  min-height: 169px;
  background-repeat: no-repeat;
}
.info__img img {
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.product-info {
  margin-top: 50px;
  display: flex;
}

.info__price,
.info__rating {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
}

.info ul {
  color: var(--text--four-color);
  font-size: 14.571px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
