:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #cf4823;
  --text-color: #000000;
  --text-secondary-color: #9ea1b1;
  --text-three-color: #9AA0B4;
  --text--four-color: #5B5B5E;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
  --border-color: #EFEFEF;
  --hr-color: #F1F2F3;
  --label-color: #C4C4C4;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
